{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Création newsletter</h1>
    {{ form(form) }}
    <ul class="record_actions">
        <li>
            <a href="{#{ path('newsletter_edit', { 'id': entity.id }) }#}">
                Back to the list
            </a>
        </li>
    </ul>
{% endblock %}
